$bg-color: linear-gradient(to top right, #04d4db, #fd00fd);
$button-bg: linear-gradient(to right, #04d4db, #fd00fd);
$primary-color: #410141;
$light-color: #fff;
$dark-color: #eeeeee;
$darken-color: #9e9d9d;